.view-navigationPrimary ul.level-1 li a {
    color: #444;
    display: block;
    font-size: 1.5em;
    height: 45px;
    letter-spacing: -1px;
    line-height: 45px;
    padding: 0 10px;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 1px 2px #fff;
    white-space: nowrap;
}