.view-navigationPrimary ul.level-1 li a {
    color: #444;
    display: block;
    font-size: 1.5em;
    height: 45px;
    letter-spacing: -1px;
    line-height: 45px;
    padding: 0 10px;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 1px 2px #fff;
    white-space: nowrap;
}

/* Example styles for formatted objects */

.comp-rich-text-blockquote {
    border-left: 0px;
}

.source-pullquote footer::before {
    content: ' ';
}

.source-pullquote footer {
    color: #666;
    font-size: 0.7em;
    text-align: center;
}

.comp-rich-text-blockquote.source-pullquote {
    background: url(http://www.abc.net.au/res/sites/news/images/news/pullquote.png?1) no-repeat;
}

.source-pullquote p {
    background: url(http://www.abc.net.au/res/sites/news/images/news/pullquote.png?1) no-repeat 100% 100%;
}

.source-blockquote {
    color: #655c9d;
    margin-top: -12px;
    margin-left: 15px;
    width: 200px;
    font-size: 18px;
}

.source-twitter .media-type-icon,.source-twitter .caption {
    display: none;
}

.source-keypoints {
    background-color: white !important;
    background-image: url(http://wcms-preview.aus.aunty.abc.net.au/assets/default-1.0/images/icon-keypoint-60x60.png) !important;
    background-position: 30px 5px !important;
    margin: 5px !important;
    background-size: 15% !important;
    border: 1px solid #e5e5e5 !important;
    border-left: 20px solid #e5e5e5 !important;
}

.source-keypoints li {
    line-height: 1.5em;
}

.source-keypoints footer::before {
    content: '';
}

.source-facebook {
    margin-top: -12px;
    margin-left: 15px;
    width: 200px;
    font-size: 12px;
    background-size: 15%;
    background-position: 30px 5px;
    line-height: 17px;
}

.flex-viewport {
    max-height: 450px;
}

.footerrow1 .media-type-icon {
    display: none;
}

.more-link .js-toggle-primary-nav {
    color: black;
}

.more-menu-container a {
    color: black;
}

.newsheaderrow {
    background: #073D66;
}

.newsheaderrow img {
    height: 80px;
    margin-left: -40px;
    width: 242px;
}

.rssrow .icon-abc-browser:before {
    content: "";
}

.tentoppadding {
    background-color: white;
}

.view-collection-carousel .flexslider.carousel .caption {
    position: relative;
}

.view-collection-tabcontent.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-left: -3px;
}

.view-external-link-placed {
    background-image: url('http://www.abc.net.au/tv/img/promos/AsianCup-940x118-game3.jpg');
    height: 100px;
}

.view-featured-comment {
    margin-top: 5px;
}

.view-navigationPrimary .level-1 li.more-menu-container {
    color: black;
}

.view-navigationPrimary .level-1 li.more-menu-container .more-level-1 {
    background-color: rgb(236,237,239) ;
}

.view-navigationPrimary .level-1 li.more-menu-container .more-level-1 li {
    background: rgb(236,237,239);
    border-bottom: solid 0px #000;
    border-top: solid 0px #424242;
}

.view-navigationPrimary .level-1 li.more-menu-container a [class*="icon-"] {
    border-bottom: none ;
    border-top: solid 0px #424242 ;
    color: silver;
    /*background: rgb(236,237,239) ;*/
}

.view-ticker {
    background-color: rgb(236,237,239);
    color: #0058cc;
}

.view-ticker p {
    color: black;
}

.view-ticker ul li.ticker-item ul li a {
    color: #0058cc;
}

.view-ticker ul li.ticker-itme .ticker-btns a {
    color: #0058cc;
}