.view-navigationPrimary ul.level-1 li a {
    color: #444;
    display: block;
    font-size: 1.5em;
    height: 45px;
    letter-spacing: -1px;
    line-height: 45px;
    padding: 0 10px;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 1px 2px #fff;
    white-space: nowrap;
}

/* Example styles for formatted objects */

.comp-rich-text-blockquote {
    border-left: 0px;
}

.source-pullquote footer::before {
    content: ' ';
}

.source-pullquote footer {
    color: #666;
    font-size: 0.7em;
    text-align: center;
}

.comp-rich-text-blockquote.source-pullquote {
    background: url(http://www.abc.net.au/res/sites/news/images/news/pullquote.png?1) no-repeat;
}

.source-pullquote p {
    background: url(http://www.abc.net.au/res/sites/news/images/news/pullquote.png?1) no-repeat 100% 100%;
}

.source-blockquote {
    color: #655c9d;
    margin-top: -12px;
    margin-left: 15px;
    width: 200px;
    font-size: 18px;
}

.source-twitter .media-type-icon,.source-twitter .caption {
    display: none;
}

.source-keypoints {
    background-color: white;
    background-image: url(http://wcms-preview.aus.aunty.abc.net.au/assets/default-1.0/images/icon-keypoint-60x60.png);
    background-position: 30px 5px;
    margin: 5px;
    background-size: 15%;
    border: 1px solid #e5e5e5;
    border-left: 20px solid #e5e5e5;
}

.source-keypoints li {
    line-height: 1.5em;
}

.source-keypoints footer::before {
    content: '';
}

.source-facebook {
    margin-top: -12px;
    margin-left: 15px;
    width: 200px;
    font-size: 12px;
    background-size: 15%;
    background-position: 30px 5px;
    line-height: 17px;
}
