
body {
    background: linear-gradient(black, #880000  );
}

.qaheader {
background-color:black;
background-image:url('http://www.abc.net.au/tv/qanda/styles/img/bg_site_header.jpg');
}

/* nav */

/* hide nav on mobile */

@media  (max-width: 640px) {
  .carouselnav nav {    
    display: none;
  }
  .view-navigationFooter {    
    display: none;
  }
}

/* end hide nav */

.carouselnav nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:white;
}

.carouselnav nav li {
    display: block;
    width: 190px;
    background-color:white;
}

.carouselnav nav a {
    color:#a21420;
    display: block;
    width: 120px;
    font-weight: bold;
    font-size: 14px;
}

/* end of nav */
