/*jan updates */

.tentoppadding {
margin-top: 10px;
}

.view-navigationPrimary .level-1 li.more-menu-container {
    color: black;
}

.more-link .js-toggle-primary-nav {
    color: black;
}

.more-menu-container a {
    color: black;
}

.view-navigationPrimary .level-1 li.more-menu-container a [class*="icon-"] {
    border-top: solid 0px #424242 ;
    border-bottom: none ;
    /*background: rgb(236,237,239) ;*/
    color: silver;
}

.view-navigationPrimary .level-1 li.more-menu-container .more-level-1 li {
    background: rgb(236,237,239);
    border-top: solid 0px #424242;
    border-bottom: solid 0px #000;
}

.view-navigationPrimary .level-1 li.more-menu-container .more-level-1 {
    background-color: rgb(236,237,239) ;
}


.view-navigationPrimary .level-2 {
    background-color: rgb(236,237,239) !important;
}

.view-navigationPrimary .level-2 li a {
    background-color: rgb(236,237,239) !important;
    color:black !important;
}

/* nov demo hacks */

.social-icon:before {
    content: " ";
}

.view-collection-carousel .flexslider.carousel .caption {
    min-height: 10px ;
}

.view-searchForm .content-container {
    border: 1px solid darkgrey;
    margin-top: -15px;
    padding-bottom: 0px;
    height: 50px;
}

@media  (min-width: 1000px) {
  .view-collection-grid .grid-item {    
    height: 240px;
  }
}

@media  (max-width: 640px) {
  .row2 .view-collection-grid .grid-item .view-richTallGrid {
  }
}

@media  (min-width: 640px) {
  .row2 .view-collection-grid .grid-item .view-richTallGrid {    
    height: 180px;
  }
}

@media  (min-width: 640px) and (max-width: 1000px) {
  .firstrow .col-md-9 .view-collection-carousel-placed {    
    background-color: black;    
    border-bottom: 1px solid black;    
    min-height: 322px;
  }
 
}

.flexslider {
    background: black;
}

.view-collection-social-media-promo .title {
    display: none;
}

.view-collection-social-media-promo {
    margin-top: 20px;
}

.row2 .description {
    height: 43%;
    background: #ebebeb;
}

div.main-content-container section.abcrow {
    padding-top: 0px;
    padding-bottom: 0px;
}

.firstrow {
    padding-top: 10px;
}



/*end nov demo hacks */

/* quotes */

.comp-rich-text-blockquote.source-pullquote {
 background-position:10% top;   
}

.comp-rich-text-blockquote.source-pullquote .quote {
 background-position:90% top;   
}


/* end quotes */

/* tables */


.view-richTall .view-comp-embedded-table {
 background:white !important;
 margin-top: 5px !important;
}

.view-richTall .view-comp-embedded-table tr:nth-child(even) {
  background-color: lightgrey !important;
}

tr:nth-child(odd) {
  background-color: white !important;
}
/* end of tables */



/*Make mobile nav line up */
.view-navigationMobilePrimaryTrigger{
 margin-top:-20px;   
}

/* Style search form */
.view-searchForm .content-container {
    padding: 0px;
}

.view-searchForm form .input-search-term {
    border: 0px ;
}

.view-searchForm form {
    border: 0px ;
}

.icon-search {
    color: Gray !important;
}

/* Hack to make first row align with responsive - uses a class firstrow defined on the row document */
@media  (min-width: 640px) and (max-width: 1000px) {
  .firstrow .span9 .view-richTall {    
   // border: 2px solid black;    
    min-height: 705px;
  }
}

@media  (min-width: 1000px) {
  .firstrow .span3 .view-richTall {    
    min-height: 377px;
  }
}


/* footer */
#page-footer {
//height:50px;
//border:1px solid black;
background-color: rgb(236,237,239);
}

#page-footer:before {
content:'Site footer';
} 

/* end footer */

/* global header full width */

#abcHeader {
max-width: 100% !important;
border: 5px solid black;
}


/*header branding */

.pagelet-header-branding {

    background: #132644 url('http://mobile.abc.net.au/homepage/mobile/images/homepage/header-bg.jpg');
min-height:120px;
max-height:120px;
padding-top:20px;
}

/*add abc logo as background CSS - this picks up the first pagelet of type chester */

.abcrow-chester:first-of-type {
//background: url(http://www.abc.net.au/homepage/2013/styles/img/abc.png) no-repeat left;
}


.comp-rich-text-image .description, .comp-rich-text-caption {
background-color:#FFFFFF !important;
padding: 0px;
}

.comp-rich-text-image .description p:before {
content:'Photo ';
font-weight:bold;
}



/* navigation */

#page-header {
    background-color: rgb(236,237,239);
}

.view-navigationPrimary ul.level-1 {
    background-color: rgb(236,237,239);

}

.view-navigationPrimary ul.level-1 li a {

    color: #444;
    font-family: "Montserrat",Arial,Helvetica,sans-serif;
    font-size: 1.2em;
    height: 45px;
    line-height: 45px;
    padding-bottom: 0%;
    padding-left: 10%;
    padding-right: 2%;
    padding-top: 0px;
}

.view-navigationPrimary ul.level-1 li a:hover {
    color: #0058cc;
}

.view-navigationPrimary ul.level-1 li:hover {
    background-color: rgb(236,237,239);
}

.view-navigationPrimary .level-1 .link-1 {
//border:1px solid black;
width:125px;
//background-color:rgb(236,237,239) ;
   
}

.view-navigationPrimary ul.level-1 li:nth-of-type(6) a {
    background-color: rgb(236,237,239);
}

.view-navigationPrimary ul.level-1 li:nth-of-type(1) a {
    background-color: rgb(236,237,239);
}

.view-navigationPrimary ul.level-2 {
width:225px;

background-color: rgb(236,237,239);
}

.more-menu-container li {

background-color: rgb(236,237,239);

}

.view-navigationPrimary .more-link {
 background: rgb(236,237,239) !important;
}

/* end nav bar */



/* extra nav css */


.view-navigationPrimary .level-1 li {
    background-color: rgb(236,237,239);
    width: 140px;
}

.view-navigationPrimary .level-2 li a,.view-navigationPrimary .more-menu li a {
    color: black;
}

.view-navigationPrimary .level-1 li.current {
background-color: rgb(236,237,239);
}

//carousel hack

.view-collection-carousel .flexslider.carousel .caption {
    min-height: 10px !important;
}

.view-collection-carousel .flex-direction-nav a {
    bottom: 3px;
}
