.view-rating {
display:none;
}

.pagelet-header-branding {
padding-top:20px;
min-height:120px;
background:url('http://mobile.abc.net.au/homepage/mobile/images/homepage/header-bg.jpg');
}
#page-footer {
background-color:rgb(236,237,239);
}
#abcHeader {
max-width: 100% !important;
}

